<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-east-06.cleardb.net:3306/heroku_8f21e8f014371d8</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">bdfc847d27a5a4</property>
        <property name="hibernate.connection.password">7b995357</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping class="com.demo.entities.AccountEntity"/>
        <mapping resource="AccountEntity.hbm.xml"/>
        <mapping class="com.demo.entities.CategoryEntity"/>
        <mapping resource="CategoryEntity.hbm.xml"/>
        <mapping class="com.demo.entities.InvoiceEntity"/>
        <mapping resource="InvoiceEntity.hbm.xml"/>
        <mapping class="com.demo.entities.InvoiceDetailsEntity"/>
        <mapping resource="InvoiceDetailsEntity.hbm.xml"/>
        <mapping class="com.demo.entities.PhotoEntity"/>
        <mapping resource="PhotoEntity.hbm.xml"/>
        <mapping class="com.demo.entities.ProductEntity"/>
        <mapping resource="ProductEntity.hbm.xml"/>
        <mapping class="com.demo.entities.RoleEntity"/>
        <mapping resource="RoleEntity.hbm.xml"/>
        <mapping class="com.demo.entities.SlideEntity"/>
        <mapping resource="SlideEntity.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>